.serviceview {
  background-color: blueviolet;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.serviceview-right {
  background-color: blueviolet;
  width: 30%;
  height: 100%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cpvs {
  box-sizing: border-box;
  background-color: white;
  width: 60%;
  height: 90%;
  margin: 10px;
  border: solid 3px #282828;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sadrs {
  background-color: white;
  width: 100%;
  height: 45%;
  border: solid 3px #282828;
}

.cddrs {
  background-color: white;
  width: 100%;
  height: 45%;
  border: solid 3px #282828;
}