.serviceview {
  background-color: blueviolet;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.serviceview-right {
  background-color: blueviolet;
  width: 30%;
  height: 100%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cpvs {
  width: 60%;
  height: 90%;
  margin: 10px;
}

#map {
  position: relative;
  top: 0px;
  left: 0px;
  border: solid 1px #282828;
  border-radius: 10px;
  z-index: 1;
}

#area-1 {
  position: relative;
  top: 90px;
  left: 140px;
  border-radius: 50%;
  width: 300px;
  height: 200px;
  transform: rotate(25deg);
  background-color: #FF000033;
  z-index: 2;
}

#area-2 {
  position: relative;
  top: 10px;
  left: 430px;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  /* transform: rotate(25deg); */
  background-color: #FFFF0055;
  z-index: 2;
}

#area-3 {
  position: relative;
  top: -80px;
  left: 580px;
  border-radius: 50%;
  width: 150px;
  height: 100px;
  /* transform: rotate(25deg); */
  background-color: #00FF0033;
  z-index: 2;
}

.area-anim {
  animation: blink 0.5s linear infinite;
}

@keyframes blink {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.sadrs {
  background-color: white;
  width: 100%;
  height: 45%;
  border: solid 3px #282828;
}

.cddrs {
  background-color: white;
  width: 100%;
  height: 45%;
  border: solid 3px #282828;
}

