.titleview {
  /* background-color: darkmagenta; */
  height: 100px;
}

.titleview-logo {
  position: absolute;
  top: 20px;
  left: 40px;
  width: 200px;
}

.logo {
  background-color: aqua;
  position: absolute;
  top: 15px;
  left: 10px;
}

.middle {
  background-color: darkgreen;
  height: 100px;
}

.footerview {
  background-color: coral;
  height: 200px;
}