.signin {
  /* background-color: red; */
  position: absolute;
  top: 15px;
  right: 28px;
}

.signin-btn, .signin-btn:visited {
  position: relative;
  bottom: 0px;
  right: 0px;
  text-shadow: none;
  margin: 0 5px 0 5px;
  font-weight: bold;
  border: none;
  background: none;
  color: #282828;
  font-size: 1em;
}

.signin-btn:hover {
  position: relative;
  bottom: 1px;
  right: 1px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.signin-btn:active {
  position: relative;
  bottom: 0px;
  right: 0px;
  text-shadow: none;
}