.signin {
  /* background-color: red; */
  position: absolute;
  top: 15px;
  right: 28px;
}

.signin-btn, .signin-btn:visited {
  position: relative;
  bottom: 0px;
  right: 0px;
  text-shadow: none;
  margin: 0 5px 0 5px;
  font-weight: bold;
  border: none;
  background: none;
  color: #282828;
  font-size: 1em;
}

.signin-btn:hover {
  position: relative;
  bottom: 1px;
  right: 1px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.signin-btn:active {
  position: relative;
  bottom: 0px;
  right: 0px;
  text-shadow: none;
}

.submit_btn {
  width: 100%;
  height: 10%;
  font-size: 1em;
  font-weight: bold;
  border-radius: 10px;
  margin-top: 20px;
}

.submit_btn:hover {
  position: relative;
  bottom: 1px;
  right: 1px;
  box-shadow: #282828 2px 2px 2px;
}

.submit_btn:active {
  position: relative;
  bottom: 0px;
  right: 0px;
  box-shadow: none;
}

.kakao {
  background-color: #FEE500;
  border: solid 1px #FEE500;
}

.naver {
  background-color: #2DB400;
  border: solid 1px #2DB400;
}

.google {
  background-color: white;
  border: solid 1px #282828;
}