.lamp-red {
  animation: blink-red 0.5s linear infinite;
}

.lamp-orange {
  animation: blink-orange 1s linear infinite;
}

.lamp-green {
  animation: blink-green 5s linear infinite;
}

@keyframes blink-red {
  from {
    background-color: #00000000;
  }
  50% {
    background-color: rgba(255, 0, 0, 0.5);
  }
  to {
    background-color: #00000000;
  }
}

@keyframes blink-orange {
  from {
    background-color: #00000000;
  }
  50% {
    background-color: rgba(255, 135, 0, 0.5);
  }
  to {
    background-color: #00000000;
  }
}

@keyframes blink-green {
  from {
    background-color: #00000000;
  }
  50% {
    background-color: rgba(0, 255, 0, 0.5);
  }
  to {
    background-color: #00000000;
  }
}