

<!DOCTYPE html>
<html>
<head>
    <link rel = "stylesheet" type="text/css" href = "{{ url_for('static', filename='cong.css') }}">
    <meta charset="UTF-8">
    <title>Input Form</title>
</head>
<body>
    <!-- <h1>hi</h1>
    <p>model : {{ test_text }}</p>
    <p>trial_best : {{ trial }}</p>
    <p>params : {{ params}}</p>
    <div class="dv1">
        <p>새로운 물동량 : {{ new_value }}</p>
        <p>터미널 코드 : {{ new_termCode }}</p>
        <p>congestion level : {{ level }}</p>
        <p>구간 범위 : {{ ranges }}</p>
    </div> -->
</body>
</html>