.dashboard {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.section {
  height: 100%;
  margin-top: 2rem;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}